body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h2 {
    text-align: center;
}

.form {
    padding: 8px;
    width: 330px;
    max-width: 350px;
    min-width: 300px;
    margin: auto;
    border: 1px solid grey;
    border-radius: 5px;
    background: rgb(228, 226, 226);
}

.inputBox {
    display: flex;
    flex-direction: column;
    width: 330px;
}



.checkboxBox {
    display: flex;
    width: 330px;
    margin: 5px 0 10px 0;
}

.checkboxBox input {
    width: 20px;
}

.form label,
.form input,
select {
    display: inline-block;
}

.radioBox {
    padding: 0.3rem 0rem 0.3rem 0.5rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    background: white;
    display: flex;
    align-items: center;
}

.radioBox input {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
}

.radioBox label {
    margin: 0 20px 0 0;
    height: 15px;
    vertical-align: middle;
    display: inline-block;
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid blue;
    /* background: rgb(239, 239, 252); */
}

label {
    font-weight: bold;
    font-size: 0.8rem;
    margin-top: 10px;;
}

input,
select {
    padding: 0.3rem 0rem 0.3rem 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid grey;
    background: white;

}

input {
    width: 318px;  
}

.w20 {
    width: 100px;
}

.w40 {
    width: 160px;
} 



select {
    width: 100%;
    
}

input.invalid {
    border: 2px solid red;
}

.botaoBox {
    margin: 30px 80px;
    display: flex;
    justify-content: center;
}

.botaoBox button {
    padding: 6px;
    font-size: 1rem;
    border-radius: 10px;
    background: steelblue;
    color: white;
    border: 1px solid blue;
}



@media (min-width: 460px) {
    .form {
        margin: auto;
        padding: 20px;
        width: 400px;
        max-width: 500px;
        min-width: 350px;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }

    input {
        width: 390px;  
    }

    select {
        width: 400px;  
    }

    .radioBox {
        width: 392px;
    }

    .botaoBox {
        margin: 30px 120px;
    }
}